/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.out-container {
  max-width: 1300px;
  position: relative;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
}

#slogan {
  font-size: 1.3em;
  font-weight: bold;
  color: #f1c40f;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-right: 15px;
}

/* Ajustes na imagem do carro */
.img-container img {
  position: absolute;
  left: 0;
  transition: left 2s ease-out;
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
}

/* Ajustes no container da imagem */
.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Topo */
.top-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f1c40f;
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  height: 90px;
  flex-direction: column;
}

/* Container principal */
.container {
  background: #000000;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

/* Rodapé */
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f1c40f;
  text-align: center;
  font-size: 0.9em;
  box-sizing: border-box;
  max-height: 35px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  width: 100%;
  color: #eeeeee;
}

.form-container {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
}

h2 {
  color: #000000;
  font-size: 1.2em;
}

.form-container h2 {
  color: #f1c40f;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin: 5px 0;
  border: 1px solid #000000;
  border-radius: 12px;
  width: 80%;
  box-sizing: border-box;
  height: 34px;
  padding: 5px;
}

button {
  background-color: #f1c40f;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

button:hover {
  background-color: #b4960c;
}

#map {
  width: 100%;
  min-width: 256px;
  min-height: 256px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
  aspect-ratio: 1;
  max-width: 100%;
  max-height: 100%;
}

.buttons-container {
  display: flex;
  justify-content: right;
  margin-top: -40px;
  max-height: 60px;
}

.btn {
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn-light {
  background-color: #f0f0f0;
  color: black;
}

.btn-dark {
  background-color: #333;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.btn i {
  margin: 0;
}

.preloader {
  position: fixed; /* Usa fixed para garantir que o loader fique fixo na tela */
  top: 0; /* Garantir que o contêiner ocupe toda a tela */
  left: 0; /* Garantir que o contêiner ocupe toda a tela */
  width: 100vw; /* Largura total da tela */
  height: 100vh; /* Altura total da tela */
  display: flex; /* Usado para centralizar o loader */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  z-index: 1000; /* Garante que o loader esteja acima de outros elementos */
}

.loader {
  border: 12px solid transparent;
  border-top: 8px solid #dfdfdf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.yellow-text {
  color: #f1c40f;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.hidden {
  display: none;
}

input {
  background-color: #ffffff;
  color: #000000;
}

input::placeholder {
  color: #6d6d6d;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .img-container {
    display: none; /* Oculta o top-container em dispositivos móveis */
    padding: 10px 0;
    height: auto;
  }

  .top-container {
    padding: 10px 0;
    height: auto;
  }

  .form-container {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .buttons-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .form-container input,
  .form-container button {
    width: 60%;
  }

  .bottom-container {
    padding: 10px;
    text-align: center;
  }

  #map {
    width: 80%; /* Ajuste a largura para 80% da tela */
    max-width: 300px; /* Limite a largura máxima para 300 */
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .form-container h2 {
    font-size: 1em;
  }

  #map {
    width: 80%; /* Ajuste a largura para 90% da tela */
    max-width: 200px; /* Limite a largura máxima para 400px */
    height: auto;
  }

  .top-container {
    display: none; /* Também oculta o top-container em telas menores */
    padding: 10px 0;
    height: auto;
  }
}
